<p>
  <img src="../images/04.1-EMS-NS-Patient-Admission-Form-Print.png" alt="" />
</p>
<p><img src="../images/1.2 EMS_ADM_Invoice_Print_HOSP.png" alt="" /></p>
<p><img src="../images/1.3 EMS_ADM_Invoice_Print_CUST.png" alt="" /></p>
