
.dashboard-header {
  background-color: #2c6f9c;

}
.dash-info-card-style-1 {
  background: #eef7ff;
  //box-shadow: 0px 4px 0px rgb(174 197 202);
  position: relative;
  border-radius: 5px;
  transition: 0.2s;
  margin-bottom: 20px;

  .info-card-top {
    border-bottom: 1px solid rgb(174 197 202);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;

    & > div {
      &.number-box {
        width: 68px;
        height: 68px;
        box-shadow: 0px 0px 5px 5px #b7dbf3;
        background: linear-gradient(89deg, #236195 0.61%, #5ec3c3 97.7%);
        border-radius: 100%;
        color: #ffffff;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
      }

      &.button-wrapper {
        display: inline-flex;
        justify-content: flex-end;
        gap: 10px;

        button {
          padding: 10px;
          border: none;
          background-color: transparent;
          vertical-align: middle;
          color: #0c4677;
        }
      }
    }
  }

  .info-card-bottom {
    padding: 10px;

    h4 {
      color: #0c4677;
      font-size: 1.22222rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  &:hover {
    box-shadow: 0px 1px 0px #aec5caff;

    .number-box {
      box-shadow: none;
    }
  }
}
