.icon {
  display: inline-block;
  background: url("../images/sprites.png") no-repeat left top;

  &.icon-30x, &.icon-35x {
    width: 30px;
    height: 30px;
  }

  &.icon-dashboard {
    background-position: 0 0;
  }

  &.icon-registration {
    background-position: -30px 0;
  }

  &.icon-outdoor {
    background-position: -60px 0;
  }

  &.icon-emergency {
    background-position: -90px 0;
  }

  &.icon-pharmacy {
    background-position: -120px 0;
  }

  &.icon-laboratory {
    background-position: -150px 0;
  }

  &.icon-pathology {
    background-position: -180px 0;
  }

  &.icon-inventory {
    background-position: -210px 0;
  }

  &.icon-store {
    background-position: -240px 0;
  }

  &.icon-ipd {
    background-position: -270px 0;
  }

  &.icon-radiology {
    background-position: -300px 0;
  }

  &.icon-bloodbank {
    background-position: -330px 0;
  }

  &.icon-pacs {
    background-position: -360px 0;
  }

  &.icon-hr {
    background-position: -390px 0;
  }

  &.icon-mdi {
    background-position: -420px 0;
  }

  &.icon-ehr {
    background-position: -450px 0;
  }

  &.icon-back {
    background-position: -480px 0;
  }

  &.icon-ambulance {
    background-position: -510px 0;
  }

  &.icon-equipment {
    background-position: -540px 0;
  }

  &.icon-record-room {
    background-position: -570px 0;
  }

  &.icon-document {
    background-position: -600px 0;
  }

  &.icon-icu-ccu {
    background-position: -630px 0;
  }

  &.icon-labour {
    background-position: -660px 0;
  }

  &.icon-ot {
    background-position: -690px 0;
  }

  &.icon-minor-ot {
    background-position: -720px 0;
  }

  &.icon-telemedicine {
    background-position: -750px 0;
  }

  &.icon-death {
    background-position: -780px 0;
  }

  &.icon-catering {
    background-position: -810px 0;
  }

  &.icon-cssd {
    background-position: -840px 0;
  }

  &.icon-linen {
    background-position: -870px 0;
  }

  &.icon-laundry {
    background-position: 0px -30px;
  }

  &.icon-housekeeping {
    background-position: -30px -30px;
  }

  &.icon-billing {
    background-position: -60px -30px;
  }

  &.icon-role {
    background-position: -90px -30px;
  }

  &.icon-admin {
    background-position: -120px -30px;
  }

  &.icon-app {
    background-position: -150px -30px;
  }

  &.icon-60x {
    width: 60px;
    height: 60px;
  }
}
