.medication-treatment-table {
  &.table-sm > :not(caption) > * > * {
    padding: 2.5px;
  }

  .form-select-sm {
    background-position: right .4rem center;
    background-size: 10px 9px;
    padding: 4px 20px 4px 4px;
  }

  .form-control-sm {
    padding: 4px;
  }

  .small-field-btn {
    button{
      padding: 0 2px;
      line-height: 100%;
    }
  }

  td {
    &.medication-type-col {
      width: 70px;
    }
    &.medication-generic-col {
      max-width: 70px;

    }
    &.medication-brand-col {
      max-width: 70px;
    }
    &.medication-route-col {
      width: 75px;
    }
    &.medication-dose-qty-col {
      width: 70px;
    }
    &.medication-dose-col {
      width: 120px;
    }
    &.medication-duration-col {
      width: 120px;
      .form-group {
        .input-group{
          .medicine-duration-num
          {
            width:30px;
          }
          .medicine-duration-select
          {
            width:60px;
          }
        }
      }

    }

    &.medication-qty-col {
      width: 42px;
    }

    &.medication-instruction-col {
      width: 75px;
    }

    &.medication-continue-col {
      width: 5px;
    }

    &.medication-add-col {
      width: 70px;
    }
  }

}
