$darkBlue: #2d80c4;
//$darkBlue: #029653;
$lighterBlue: #eef7ff;

//$darkGreen: #70B226;
$darkGreen: #56a201;
$lightGreen: #cbf6fd;

$darkGray: #5d6d75;
$lighterGray: #f5f5f5;

$white: #fff;
$black: #000000;

$textColor: #576271;
$backgroundColor: #f1f1f1;

body {
  background-color: $backgroundColor;
  color: $textColor;
  font-family: "Poppins", sans-serif;

  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: lighten($darkGray, 80%);
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: lighten($darkGray, 37%);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

@import "bootstrap-overwrite";
@import "icons";
@import "login-registration";
@import "layout";
@import "left-menu";
@import "topbar";
@import "content-component";
@import "footer";
@import "javascript-change";
@import "minor-ot";
@import "business-office";
@import "dashboard-component";
@import "out-patient";
@import "medication-treatment-table";
