ol > li {
    padding: 1rem;
}

table > tbody > tr > td > ul > li {
    padding: 0.25rem;
    list-style: none;
    border-bottom: 1px solid #dddddd;
}

.small-field-btn {
    position: absolute;
    top: -10px;
    right: 0;
}
.small-field-btn button{
    padding: 0 5px;
}
.small-field-btn button i {
    font-size: 10px;
    color: white;
    line-height: 10px;
}

/*.dose-btn-left {*/
/*    position: absolute;*/
/*    top: 20px;*/
/*    left: 0;*/
/*    padding: 0;*/
/*    line-height: 1;*/
/*    min-width: 20px;*/
/*}*/

/*.dose-btn-left i {*/
/*    font-size: 10px;*/
/*    color: white;*/
/*}*/

/*.dose-btn-right {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: -5px;*/
/*    padding: 0;*/
/*    line-height: 1;*/
/*    min-width: 20px;*/
/*}*/

/*.dose-btn-right i {*/
/*    padding-right: 0;*/
/*    font-size: 10px;*/
/*    color: white;*/
/*}*/

.form-check .form-check-input {
}

.bg-gradient-info {
    background-color: #36b9cc;
    background-image: linear-gradient(180deg, #36b9cc 10%, #258391 100%);
    background-size: cover;
}

.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    background-size: cover;
}

/*******************************
* MODAL AS RIGHT
*******************************/
.modal.modal-right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 25%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.modal-right .modal-content {
    height: 100%;
    overflow-y: auto;
}

/*Right*/
.modal.modal-right.fade .modal-dialog {
    right: 0;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.a {
    text-decoration: none;
    color: #576271;
}

.chief-complaint-btn-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 50%;
    right: 0;
    z-index: 999;
}

.field-with-tags {
    position: relative;
}

.tags-input {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 2px;
    left: 0;
}

.tags-input .tags-item {
    background-color: #C9E6FF;
    color: #0A4C87;
    vertical-align: middle;
    padding: 4px 6px;
    margin: 1px 6px;
    border-radius: 4px;
}

.tags-input .tags-item i {
    background: none;
    padding: 4px 6px;
}

.form-check .tags-input {
    top: 4.6rem;
    left: 1rem;
}

.form-group.position-relative .tags-input {
    top: 2rem;
}
