.queue-patient-filter {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
      display: block;
      margin-bottom: 10px;
    }
  }
}
.vitals-row {
  display: flex;

  & > div {
    padding: 2px 4px;
  }

  .form-group {
    margin-bottom: 5px;

    input {
      padding-left: 4px;
      padding-right: 4px;
    }

    .icon-field-wrapper {
      input {
        padding-right: 30px;
      }
    }
  }
}

.bp-col {
  input {
    width: 50px;
  }
}

.label-with-switch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding-top: calc(0.47rem + 1px);
  padding-bottom: calc(0.15rem + 1px);
}

.joint-field-wrapper {
  display: flex;
  align-items: center;

  & > div {
    padding: 0 2px;
  }
}
.medication-area {
  padding: 5px;

  &>.medication-row {
    border-top: 1px solid #f6fffd;
    border-bottom: 1px solid #c0d5d1;
    &:nth-child(odd) {
      background-color: #e7edec;
    }
  }
}


.medication-row {
  display: flex;
  // flex-wrap: wrap;
  width: 100%;

  .medication-inner-row {
    display: flex;
    // flex-wrap: wrap;
    width: 100%;
  }

  &>div.medication-col {
    // padding-left: 4px;
    // padding-right: 4px;
    padding: 4px;
    flex: 0 0 10%;
    max-width: 10%;
  }

  &>div.medication-col-4 {
    flex: 0 0 40%;
    max-width: 40%;

    &>.medication-inner-row {
      &>div {
        padding: 4px;
        flex: 0 0 calc(100%/4);
        max-width: calc(100%/4);
      }
    }
  }
  &>div.medication-col-6 {
    flex: 0 0 60%;
    max-width: 60%;
    &>.medication-inner-row {
      &>div {
        padding: 4px;
        flex: 0 0 calc(100%/6);
        max-width: calc(100%/6);
      }
    }
  }

  &>div.medication-col-5 {
    flex: 0 0 50%;
    max-width: 50%;

    &>.medication-inner-row {
      &>div {
        padding: 4px;
        flex: 0 0 calc(100%/5);
        max-width: calc(100%/5);
      }
    }
  }
}

.continue-add-col {
  display: flex;

  &>div {
    padding: 0 5px;
  }
}
