body {
  background-color: #f1f1f1;
  color: #576271;
  font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: white;
}
body:hover::-webkit-scrollbar-thumb {
  background: #c1c9ce;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-primary {
  background-color: #2d80c4;
}
.btn-primary:hover {
  background-color: #23659b;
}

.btn-outline-primary {
  border-color: #2d80c4;
  color: #2d80c4;
}
.btn-outline-primary:hover {
  background-color: #23659b;
}

.bg-primary {
  background-color: #2d80c4 !important;
}

.btn-success {
  background: #56a201;
  border-color: #56a201;
}
.btn-success:hover {
  background: #56a201;
  border-color: #56a201;
}

.text-primary {
  color: #2d80c4;
}

.text-success {
  color: #56a201;
}

.bg-danger {
  background-color: #fca5a5 !important;
}

.icon {
  display: inline-block;
  background: url("../images/sprites.png") no-repeat left top;
}
.icon.icon-30x, .icon.icon-35x {
  width: 30px;
  height: 30px;
}
.icon.icon-dashboard {
  background-position: 0 0;
}
.icon.icon-registration {
  background-position: -30px 0;
}
.icon.icon-outdoor {
  background-position: -60px 0;
}
.icon.icon-emergency {
  background-position: -90px 0;
}
.icon.icon-pharmacy {
  background-position: -120px 0;
}
.icon.icon-laboratory {
  background-position: -150px 0;
}
.icon.icon-pathology {
  background-position: -180px 0;
}
.icon.icon-inventory {
  background-position: -210px 0;
}
.icon.icon-store {
  background-position: -240px 0;
}
.icon.icon-ipd {
  background-position: -270px 0;
}
.icon.icon-radiology {
  background-position: -300px 0;
}
.icon.icon-bloodbank {
  background-position: -330px 0;
}
.icon.icon-pacs {
  background-position: -360px 0;
}
.icon.icon-hr {
  background-position: -390px 0;
}
.icon.icon-mdi {
  background-position: -420px 0;
}
.icon.icon-ehr {
  background-position: -450px 0;
}
.icon.icon-back {
  background-position: -480px 0;
}
.icon.icon-ambulance {
  background-position: -510px 0;
}
.icon.icon-equipment {
  background-position: -540px 0;
}
.icon.icon-record-room {
  background-position: -570px 0;
}
.icon.icon-document {
  background-position: -600px 0;
}
.icon.icon-icu-ccu {
  background-position: -630px 0;
}
.icon.icon-labour {
  background-position: -660px 0;
}
.icon.icon-ot {
  background-position: -690px 0;
}
.icon.icon-minor-ot {
  background-position: -720px 0;
}
.icon.icon-telemedicine {
  background-position: -750px 0;
}
.icon.icon-death {
  background-position: -780px 0;
}
.icon.icon-catering {
  background-position: -810px 0;
}
.icon.icon-cssd {
  background-position: -840px 0;
}
.icon.icon-linen {
  background-position: -870px 0;
}
.icon.icon-laundry {
  background-position: 0px -30px;
}
.icon.icon-housekeeping {
  background-position: -30px -30px;
}
.icon.icon-billing {
  background-position: -60px -30px;
}
.icon.icon-role {
  background-position: -90px -30px;
}
.icon.icon-admin {
  background-position: -120px -30px;
}
.icon.icon-app {
  background-position: -150px -30px;
}
.icon.icon-60x {
  width: 60px;
  height: 60px;
}

.login-slider {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.login-form {
  max-width: 450px;
  margin: 0 auto;
}
.login-form .card {
  padding: 50px !important;
  border: none;
}
.login-form .card .form-header {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.login-form a {
  color: inherit;
  font-size: 80%;
}

.bg-login-blue-img {
  background: url("../images/login-bg.png") no-repeat center;
  background-size: cover;
}

.login-powered-menu {
  margin: 0;
  padding: 0;
}
.login-powered-menu li {
  list-style: none;
  display: inline-block;
  margin: 5px;
}

.wrapper {
  position: relative;
}
.wrapper .leftside-menu {
  width: 260px;
  z-index: 10;
  background: #ffffff;
  bottom: 0;
  position: fixed;
  top: 0;
}
.wrapper .page-content {
  margin-left: 260px;
  overflow: hidden;
  padding: 70px 12px 100px;
  min-height: 100vh;
}
.wrapper .top-navbar {
  padding: 0 24px;
  background-color: #fff;
  min-height: 70px;
  position: fixed;
  left: 260px;
  top: 0;
  right: 0;
  z-index: 1001;
}
.wrapper .footer {
  border-top: 1px solid rgba(152, 166, 173, 0.2);
  background-color: #fff;
  bottom: 0;
  padding: 19px 24px 20px;
  position: absolute;
  right: 0;
  color: #98a6ad;
  left: 260px;
}

.leftside-menu .leftside-menu-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.leftside-menu .leftside-menu-inner > div {
  padding: 15px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-branding {
  text-align: center;
  padding-top: 30px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-greeting {
  text-align: center;
}
.leftside-menu .leftside-menu-inner .leftside-menu-greeting h4 {
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #2d80c4;
}
.leftside-menu .leftside-menu-inner .leftside-menu-greeting p {
  color: #56a201;
  border: 1px solid #56a201;
  margin: 10px auto 0;
  display: table;
  padding: 3px 12px 4px;
  border-radius: 24px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper > ul {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li {
  list-style: none;
  display: inline-block;
  width: 100%;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  padding: 18px 20px;
  border-left: 3px solid transparent;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li a span.icon {
  flex: 0 0 30px;
  max-width: 30px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li a span:nth-child(2) {
  padding: 3px 10px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li a span.fa-chevron-right {
  font-size: 12px;
  margin-left: auto;
  transition: 0.2s;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li a:hover {
  background: #eef7ff;
  border-left-color: #2d80c4;
  color: #2d80c4;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li a:hover .fa-chevron-right {
  transform: rotate(90deg);
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li > ul {
  display: none;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li > ul li a:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #5d6d75;
  margin: 5px 15px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > a {
  background: #eef7ff;
  border-color: #2d80c4;
  color: #2d80c4;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > ul {
  display: block;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > ul li a:before {
  background: #5d6d75;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > ul li:hover a {
  background-color: transparent;
  border-color: transparent;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > ul li:hover a:before {
  background: #2d80c4;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > ul li.activated-submenu > a {
  color: #2d80c4;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > ul li.activated-submenu > a:before {
  background: #2d80c4;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > ul li.activated-submenu > ul {
  display: block;
  margin-left: 10px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > ul li.activated-submenu > ul > li a:before {
  border-radius: 10px;
  width: 6px;
  height: 6px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul::-webkit-scrollbar-thumb {
  background: white;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul:hover::-webkit-scrollbar-thumb {
  background: #c1c9ce;
}

.menu-app-name-trigger {
  display: flex;
  align-items: center;
}
.menu-app-name-trigger h3 {
  font-size: 1.3rem;
  margin-bottom: 0;
  margin-left: 30px;
  color: #2D80C4;
  text-transform: uppercase;
}

.left-menu-trigger {
  margin: 19px 0;
}
.left-menu-trigger button {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  position: relative;
  padding: 0;
}
.left-menu-trigger button span {
  display: block;
  width: 80%;
  height: 3px;
  background: #5d6d75;
  border-radius: 4px;
  margin: 10px 0;
  transition: 0.2s;
}
.left-menu-trigger button span:before, .left-menu-trigger button span:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #5d6d75;
  border-radius: 4px;
  position: absolute;
}
.left-menu-trigger button span:before {
  top: 4px;
  transition: 0.2s top;
}
.left-menu-trigger button span:after {
  bottom: 4px;
  transition: 0.2s bottom;
}
.left-menu-trigger button:hover span {
  width: 100%;
  background: transparent;
}
.left-menu-trigger button:hover span:before {
  top: 13px;
}
.left-menu-trigger button:hover span:after {
  bottom: 13px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
nav ul li {
  list-style: none;
  display: block;
}
nav ul li a {
  padding: 15px;
  display: inline-flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: inherit;
  line-height: 40px;
}
nav ul li a:hover {
  background-color: #f5f5f5;
}
nav ul li.user-profile-menu-item a span {
  padding: 0 5px;
}
nav ul li.user-notification-menu-item i {
  color: #BCBCCB;
  font-size: 22px;
}
nav ul li.today-date-menu-item a {
  cursor: text;
}

.breadcrumb-wrapper {
  margin-bottom: 30px;
}
.breadcrumb-wrapper ul.breadcrumb {
  margin: 0;
  background-color: #5d6d75;
  padding: 8px 5px;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
}
.breadcrumb-wrapper ul.breadcrumb li {
  list-style: none;
  padding: 7px 10px;
  display: inline-block;
}
.breadcrumb-wrapper ul.breadcrumb li a {
  text-decoration: none;
  color: inherit;
}
.breadcrumb-wrapper .breadcrumb-label {
  background-color: #eef7ff;
  font-size: 18px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
}
.breadcrumb-wrapper .breadcrumb-label > div {
  padding: 3px 5px;
}

.page-title-box {
  display: flex;
}
.page-title-box .page-title {
  font-size: 18px;
  margin: 0;
  line-height: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
}

.card.card-primary {
  margin-bottom: 25px;
}
.card.card-primary .card-header {
  background-color: #2d80c4;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.form-group {
  margin-bottom: 20px;
}
.form-group.small-upload-field label {
  width: 100%;
  height: 38px;
  background-color: #8E969D;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  pointer-events: none;
  padding: 5px 20px;
}
.form-group.small-upload-field label i {
  margin-right: 10px;
}
.form-group > label {
  margin-bottom: 6px;
  font-weight: 500;
  color: #000000;
}
.form-group > label span {
  color: red;
  font-size: 18px;
}
.form-group .custom-label {
  margin-bottom: 6px;
  font-weight: 500;
  color: #000000;
}
.form-group .custom-label span {
  color: red;
  font-size: 18px;
}
.form-group .photo-upload label {
  width: 100%;
  height: 150px;
  border: 3px dotted #ced4da;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.form-group .photo-upload label > span {
  color: inherit;
  text-align: center;
}
.form-group .photo-upload label > span i {
  display: block;
}
.form-group .photo-upload label > span i.fa {
  font-size: 34px;
  margin-bottom: 15px;
}
.form-group .photo-upload input[type=file] {
  display: none;
}
.form-group.incrementable-field {
  display: flex;
  align-items: end;
}
.form-group.incrementable-field > div:first-child {
  width: calc(100% - 40px);
  padding-right: 20px;
}
.form-group .icon-field-wrapper {
  position: relative;
}
.form-group .icon-field-wrapper input {
  padding-right: 30px;
}
.form-group .icon-field-wrapper i {
  position: absolute;
  top: 10px;
}
.form-group .icon-field-wrapper.icon-right i {
  right: 10px;
}
.form-group ul {
  margin: 0;
  padding: 5px 0;
}
.form-group ul li {
  list-style: none;
  font-size: 0.8em;
}

.form-action-btn .btn {
  min-width: 180px;
  margin: 5px;
}

.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
  align-items: flex-end;
  margin-bottom: 20px;
}
.filter-wrapper > div {
  flex: 0 0 160px;
  max-width: 160px;
  padding: 10px;
}
.filter-wrapper > div label {
  margin-bottom: 10px;
  font-weight: 500;
  color: #000000;
}
.filter-wrapper > div .btn {
  width: 100%;
  font-weight: 600;
}
.filter-wrapper > div.extent-field {
  flex: 0 0 200px;
  max-width: 200px;
}

.search-field-wrapper {
  max-width: 225px;
  position: relative;
  display: inline-block;
}
.search-field-wrapper input {
  padding-right: 40px;
}
.search-field-wrapper button {
  position: absolute;
  right: 8px;
  background-color: transparent;
  border: none;
  top: 8px;
}

table.table-blue thead {
  background-color: #2d80c4 !important;
  color: #fff;
}
table.table-blue thead tr th {
  border-bottom: none !important;
  font-weight: 500;
}
table.table-gray thead {
  background-color: #5D6D75 !important;
  color: #fff;
}
table.table-gray thead tr th {
  border-bottom: none !important;
  font-weight: 500;
}
table.table-gray tfoot {
  background-color: #5D6D75 !important;
  color: #fff;
}
table.table-gray tfoot tr th {
  border-bottom: none !important;
  font-weight: 500;
}
table.table-striped {
  border: none !important;
  box-shadow: none;
}
table.table-striped thead tr th {
  border-bottom: none !important;
  font-weight: 500;
}
table.table-striped tbody {
  border: none !important;
}
table.table-striped tbody tr {
  border-bottom: none !important;
}
table.table-striped tbody tr:nth-of-type(odd) > * {
  background-color: #f8fcff;
}
table.table-striped tbody tr td {
  border: none !important;
  border-bottom: none !important;
}

.pagination {
  margin: 15px 0;
}
.pagination ul {
  margin: 0;
  padding: 0;
}
.pagination ul li {
  list-style: none;
  display: inline-block;
}
.pagination ul li a {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  text-decoration: none;
  color: inherit;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}
.pagination ul li.active a {
  background-color: #2d80c4;
  color: #fff;
}
.pagination.pagination-sm ul li a {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.nav-tabs button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #eef7ff;
  border-radius: 5px 5px 0 0;
  text-decoration: none;
  color: inherit;
  outline: none;
  border: none;
}
.nav-tabs button.active {
  color: #fff;
  background-color: #2d80c4;
}

.info-screen {
  background-color: #E0FBFF;
  color: #0D8A9A;
}

.success-screen {
  background-color: #d3ffd8;
  color: #00760d;
}

.patient-card ul {
  margin: 0;
  padding: 0;
}
.patient-card ul li {
  list-style: none;
  display: block;
}

.bg-light-gray {
  background-color: #F5F5F5;
}

.white-space-nowrap {
  white-space: nowrap;
}

.bg-light-blue {
  background-color: #EEF7FF;
}

.bg-dark-blue {
  background-color: #2d80c4;
}

.btn-outline-purple {
  border-color: #b605b6;
  color: #b605b6;
}
.btn-outline-purple:hover {
  background-color: #b605b6;
  color: #ffffff;
}

.btn-outline-warning {
  border-color: #e4790a;
  color: #e4790a;
}
.btn-outline-warning:hover {
  background-color: #e4790a;
  color: #ffffff;
}

.profile-heading {
  font-size: 24px;
  position: relative;
  padding-left: 35px;
}
.profile-heading:before, .profile-heading:after {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  content: "";
  display: block;
  top: 50%;
  transform: translateY(-8px);
}
.profile-heading:before {
  left: 0;
  background-color: #7dc5ff;
}
.profile-heading:after {
  left: 10px;
  background-color: #afff55;
}

.print-page-preview .border-bottom {
  border-bottom: 2px dotted #525252 !important;
  position: relative;
  min-height: 20px;
}
.print-page-preview .border-bottom span {
  display: inline-block;
  position: absolute;
}

.dashboard-card-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.dashboard-card-area .dashboard-card .dashboard-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 16px;
}
.dashboard-card-area .dashboard-card .dashboard-card-info {
  display: flex;
}
.dashboard-card-area .dashboard-card .dashboard-card-info > div:first-child {
  flex: 0 0 calc(100% - 50px);
  max-width: calc(100% - 50px);
  padding-right: 10px;
}
.dashboard-card-area .dashboard-card .dashboard-card-info > div:last-child {
  flex: 0 0 50px;
  max-width: 50px;
}
.dashboard-card-area .dashboard-card .dashboard-card-info p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #202224;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin-bottom: 10px;
}
.dashboard-card-area .dashboard-card .dashboard-card-info h3 {
  font-weight: 510;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  color: #202224;
  margin-bottom: 0;
}
.dashboard-card-area .dashboard-card .dashboard-card-info .dash-card-icon {
  background: #E0F1FF;
  border: 1px solid #F0F0F0;
  border-radius: 100%;
}

.doctor-desk-section {
  border-bottom: 1px dashed #cccccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.doctor-desk-section .doctor-desk-department {
  display: flex;
  justify-content: space-between;
  color: #018946;
  border-radius: 5px 5px 0 0;
  margin-bottom: 15px;
}
.doctor-desk-section .doctor-desk-department > div {
  padding: 5px 8px;
}
.doctor-desk-section .doctor-desk-department h5 {
  margin: 0;
  font-size: 22px;
  text-shadow: 0 0 2px #cccccc;
  font-weight: bolder;
}
.doctor-desk-section .doctor-desk-department ul {
  margin: 0;
  padding: 0;
}
.doctor-desk-section .doctor-desk-department ul li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  color: #686868;
}
.doctor-desk-section .doctor-desk-department ul li strong {
  font-size: 1.5em;
  color: #343434;
}
.doctor-desk-section .doctor-desk-room-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.doctor-desk-section .doctor-desk-room-list .doctor-desk-room .doctor-desk-room-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 15px;
  overflow: hidden;
  cursor: pointer;
}
.doctor-desk-section .doctor-desk-room-list .doctor-desk-room .doctor-desk-room-info {
  display: flex;
  text-decoration: none;
}
.doctor-desk-section .doctor-desk-room-list .doctor-desk-room .doctor-desk-room-info > div:first-child {
  flex: 0 0 60px;
  max-width: 60px;
}
.doctor-desk-section .doctor-desk-room-list .doctor-desk-room .doctor-desk-room-info > div:last-child {
  flex: 0 0 calc(100% - 60px);
  max-width: calc(100% - 60px);
  position: relative;
  padding-left: 20px;
}
.doctor-desk-section .doctor-desk-room-list .doctor-desk-room .doctor-desk-room-info p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #202224;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin-bottom: 6px;
}
.doctor-desk-section .doctor-desk-room-list .doctor-desk-room .doctor-desk-room-info h3 {
  font-weight: 510;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  color: #202224;
  margin-bottom: 0;
}
.doctor-desk-section .doctor-desk-room-list .doctor-desk-room .doctor-desk-room-info span {
  position: absolute;
  background-color: #ceffe7;
  border: none;
  bottom: -33px;
  right: -15px;
  color: #00b15a;
  padding: 4px;
  transform: rotate(45deg);
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.doctor-desk-section .doctor-desk-room-list .doctor-desk-room .doctor-desk-room-info .dash-card-icon {
  background: #ceffe7;
  color: #00b15a;
  border: 1px solid #F0F0F0;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

table .form-control.small-field {
  max-width: 100px;
}

.footer ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
}
.footer ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 7px;
}
.footer ul li img {
  opacity: 1;
  transition: 0.2s;
  max-height: 30px;
}
.footer ul li:hover img {
  opacity: 0.8;
}

body.side-menu-activated .top-navbar {
  left: 80px;
}
body.side-menu-activated .top-navbar .left-menu-trigger span {
  width: 100%;
  background: transparent;
}
body.side-menu-activated .top-navbar .left-menu-trigger span:before {
  top: 13px;
  transform: rotate(-45deg);
}
body.side-menu-activated .top-navbar .left-menu-trigger span:after {
  bottom: 13px;
  transform: rotate(45deg);
}
body.side-menu-activated .leftside-menu {
  width: 80px;
}
body.side-menu-activated .leftside-menu .leftside-menu-greeting {
  display: none;
}
body.side-menu-activated .leftside-menu ul {
  max-height: calc(100vh - 100px) !important;
}
body.side-menu-activated .leftside-menu ul li a span:nth-child(2), body.side-menu-activated .leftside-menu ul li a span:nth-child(3) {
  display: none;
}
body.side-menu-activated .leftside-menu ul li.activated ul {
  display: none !important;
}
body.side-menu-activated .wrapper .page-content {
  margin-left: 80px;
}
body.side-menu-activated .wrapper .footer {
  left: 80px;
}

.dob-form-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.dob-form-group > div {
  flex: 0 0 50%;
  max-width: 50%;
}
.dob-form-group > div:last-child {
  display: flex;
  flex-wrap: nowrap;
}

.field-with-tags {
  position: relative;
}

.tags-input {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 2px;
  left: 0;
}

.tags-input .tags-item {
  background-color: #c9e6ff;
  color: #0a4c87;
  vertical-align: middle;
  padding: 4px 6px;
  margin: 1px 6px;
  border-radius: 4px;
}

.tags-input .tags-item i {
  background: none;
  padding: 4px 6px;
}

.form-check .tags-input {
  top: 4.6rem;
  left: 1rem;
}

.form-group.position-relative .tags-input {
  top: 2rem;
}

.border-bottom {
  border-bottom: 2px dotted #525252 !important;
  font-weight: 600;
  padding-top: 15px;
}

@media (min-width: 1400px) {
  .modal-xxl {
    max-width: 1400px;
  }
}
.bg-danger-light {
  background-color: rgb(202, 89, 95);
}

.dashboard-header {
  background-color: #2c6f9c;
}

.dash-info-card-style-1 {
  background: #eef7ff;
  position: relative;
  border-radius: 5px;
  transition: 0.2s;
  margin-bottom: 20px;
}
.dash-info-card-style-1 .info-card-top {
  border-bottom: 1px solid rgb(174, 197, 202);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}
.dash-info-card-style-1 .info-card-top > div.number-box {
  width: 68px;
  height: 68px;
  box-shadow: 0px 0px 5px 5px #b7dbf3;
  background: linear-gradient(89deg, #236195 0.61%, #5ec3c3 97.7%);
  border-radius: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.dash-info-card-style-1 .info-card-top > div.button-wrapper {
  display: inline-flex;
  justify-content: flex-end;
  gap: 10px;
}
.dash-info-card-style-1 .info-card-top > div.button-wrapper button {
  padding: 10px;
  border: none;
  background-color: transparent;
  vertical-align: middle;
  color: #0c4677;
}
.dash-info-card-style-1 .info-card-bottom {
  padding: 10px;
}
.dash-info-card-style-1 .info-card-bottom h4 {
  color: #0c4677;
  font-size: 1.22222rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dash-info-card-style-1:hover {
  box-shadow: 0px 1px 0px #aec5ca;
}
.dash-info-card-style-1:hover .number-box {
  box-shadow: none;
}

.queue-patient-filter ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.queue-patient-filter ul li {
  list-style: none;
  display: block;
  margin-bottom: 10px;
}

.teeth-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.teeth-group .teeth {
  background-image: url("../images/teeth-sprites.png");
  background-repeat: no-repeat;
  background-position: left top;
  border: 1px solid #F5F5F5;
  width: 50px;
  height: 60px;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  background-color: #9e9e9e;
  margin: 5px;
  box-shadow: inset 0px 0px 6px #6c757d;
}
.teeth-group .teeth.teeth-premolar {
  background-position-x: -180px;
}
.teeth-group .teeth.teeth-molar {
  background-position-x: -120px;
}
.teeth-group .teeth.teeth-incisor {
  background-position-x: -60px;
}
.teeth-group .teeth.teeth-canine {
  background-position-x: 0px;
}
.teeth-group .teeth span {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  background: #6c757d;
  color: #fff;
}
.teeth-group.upper-group .teeth {
  margin-top: 30px;
  border-radius: 0 0 10px 10px;
}
.teeth-group.upper-group .teeth span {
  top: -20px;
}
.teeth-group.lowe-group .teeth {
  margin-bottom: 30px;
  background-position-y: -60px;
  border-radius: 10px 10px 0 0;
}
.teeth-group.lowe-group .teeth span {
  bottom: -20px;
}

.selected-teeth > div.selected-teeth-item {
  display: flex;
  align-items: center;
  margin-left: -5px;
  margin-right: -5px;
}
.selected-teeth > div.selected-teeth-item > div {
  padding: 5px;
}
.selected-teeth > div.selected-teeth-item > div .selected-teeth-number {
  display: block;
  background-color: #2D80C4;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 22px;
  width: 100px;
}
.selected-teeth > div.selected-teeth-item > div button {
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
}

table.treatment-plan-table td.date-column {
  max-width: 80px;
}
table.treatment-plan-table input[type=date] {
  max-width: 120px;
}

.medication-treatment-table.table-sm > :not(caption) > * > * {
  padding: 2.5px;
}
.medication-treatment-table .form-select-sm {
  background-position: right 0.4rem center;
  background-size: 10px 9px;
  padding: 4px 20px 4px 4px;
}
.medication-treatment-table .form-control-sm {
  padding: 4px;
}
.medication-treatment-table .small-field-btn button {
  padding: 0 2px;
  line-height: 100%;
}
.medication-treatment-table td.medication-type-col {
  width: 70px;
}
.medication-treatment-table td.medication-generic-col {
  max-width: 70px;
}
.medication-treatment-table td.medication-brand-col {
  max-width: 70px;
}
.medication-treatment-table td.medication-route-col {
  width: 75px;
}
.medication-treatment-table td.medication-dose-qty-col {
  width: 70px;
}
.medication-treatment-table td.medication-dose-col {
  width: 120px;
}
.medication-treatment-table td.medication-duration-col {
  width: 120px;
}
.medication-treatment-table td.medication-duration-col .form-group .input-group .medicine-duration-num {
  width: 30px;
}
.medication-treatment-table td.medication-duration-col .form-group .input-group .medicine-duration-select {
  width: 60px;
}
.medication-treatment-table td.medication-qty-col {
  width: 42px;
}
.medication-treatment-table td.medication-instruction-col {
  width: 75px;
}
.medication-treatment-table td.medication-continue-col {
  width: 5px;
}
.medication-treatment-table td.medication-add-col {
  width: 70px;
}

/*# sourceMappingURL=main.css.map */
