.queue-patient-filter ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.queue-patient-filter ul li {
  list-style: none;
  display: block;
  margin-bottom: 10px;
}

.vitals-row {
  display: flex;
}
.vitals-row > div {
  padding: 2px 4px;
}
.vitals-row .form-group {
  margin-bottom: 5px;
}
.vitals-row .form-group input {
  padding-left: 4px;
  padding-right: 4px;
}
.vitals-row .form-group .icon-field-wrapper input {
  padding-right: 30px;
}

.bp-col input {
  width: 50px;
}

.label-with-switch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding-top: calc(0.47rem + 1px);
  padding-bottom: calc(0.15rem + 1px);
}

.joint-field-wrapper {
  display: flex;
  align-items: center;
}
.joint-field-wrapper > div {
  padding: 0 2px;
}

.medication-area {
  padding: 5px;
}
.medication-area > .medication-row {
  border-top: 1px solid #f6fffd;
  border-bottom: 1px solid #c0d5d1;
}
.medication-area > .medication-row:nth-child(odd) {
  background-color: #e7edec;
}

.medication-row {
  display: flex;
  width: 100%;
}
.medication-row .medication-inner-row {
  display: flex;
  width: 100%;
}
.medication-row > div.medication-col {
  padding: 4px;
  flex: 0 0 10%;
  max-width: 10%;
}
.medication-row > div.medication-col-4 {
  flex: 0 0 40%;
  max-width: 40%;
}
.medication-row > div.medication-col-4 > .medication-inner-row > div {
  padding: 4px;
  flex: 0 0 25%;
  max-width: 25%;
}
.medication-row > div.medication-col-6 {
  flex: 0 0 60%;
  max-width: 60%;
}
.medication-row > div.medication-col-6 > .medication-inner-row > div {
  padding: 4px;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.medication-row > div.medication-col-5 {
  flex: 0 0 50%;
  max-width: 50%;
}
.medication-row > div.medication-col-5 > .medication-inner-row > div {
  padding: 4px;
  flex: 0 0 20%;
  max-width: 20%;
}

.continue-add-col {
  display: flex;
}
.continue-add-col > div {
  padding: 0 5px;
}

/*# sourceMappingURL=prescription.css.map */
