.dob-form-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.dob-form-group > div {
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
}
.dob-form-group > div.separator {
  flex: 0 0 20px;
  max-width: 20px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}
.dob-form-group > div input {
  border-radius: 0;
}
.dob-form-group > div:first-child input {
  border-radius: 0.25rem;
}
.dob-form-group > div:last-child {
  display: flex;
  flex-wrap: nowrap;
}
.dob-form-group > div:last-child > div:first-child input {
  border-radius: 0.25rem 0 0 0.25rem;
}
.dob-form-group > div:last-child > div:last-child input {
  border-radius: 0 0.25rem 0.25rem 0;
}

.free-patient-doc-wrapper {
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px 30px;
}
.free-patient-doc-wrapper .reference-file-item-wrapper {
  display: flex;
  align-items: flex-end;
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.free-patient-doc-wrapper .reference-file-item-wrapper > div {
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  flex: 0 0 calc(50% - 30px);
  max-width: calc(50% - 30px);
}
.free-patient-doc-wrapper .reference-file-item-wrapper > div:last-child {
  flex: 0 0 60px;
  max-width: 60px;
}
.patient-profile .hospital-name-logo {
  display: inline-flex;
  align-items: center;
  margin: 30px 0;
  max-width: 600px;
  flex-direction: column;
}
.patient-profile .hospital-name-logo > div {
  padding: 10px;
}
.patient-profile .hospital-name-logo > div h4 {
  text-transform: uppercase;
}
.patient-profile .patient-thumb {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  margin-left: -3rem !important;
  margin-right: -3rem !important;
}
.patient-profile .patient-thumb img {
  border: 1px solid #cccccc;
  border-radius: 100%;
  padding: 5px;
}
.patient-profile ul li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #F5F5F5;
}

.room-assign-card {
  margin-top: 20px;
  background-color: #f0f8ff;
  margin-bottom: 30px;
  border-radius: 4px;
}
.room-assign-card > div {
  padding: 10px 20px;
  color: #000;
}
.room-assign-card > div:first-child {
  background: linear-gradient(#f0f8ff, #d4ecff);
  border-radius: 4px 4px 0 0;
  padding: 10px 20px;
}
.room-assign-card > div:first-child h4 {
  font-size: 22px;
  margin: 0;
  color: #004680;
}
.room-assign-card > div h5 {
  margin: 0;
}
.room-assign-card > div p {
  font-size: 80%;
}
.room-assign-card ul {
  margin: 0;
  padding: 0;
}
.room-assign-card ul li {
  list-style: none;
  display: inline-block;
}
.room-assign-card ul li i {
  margin-right: 10px;
  color: #16609c;
}
.room-assign-card .text-warning {
  color: #ff6600 !important;
}

.patient-photo-preview {
  border: 1px dashed #BDBDBD;
  background-color: #F4FAFF;
  text-align: center;
  padding: 2px;
  position: relative;
}
.patient-photo-preview .mandatory-icon {
  position: absolute;
  color: red;
  top: 10px;
  right: 10px;
  display: block;
}

.patient-photo-upload .btn {
  width: 100%;
  text-align: center;
  padding: 5px 35px;
}
.patient-photo-upload .btn i {
  margin-right: 10px;
}
.patient-photo-upload ul {
  margin-left: 0;
  padding-left: 15px;
}
.patient-photo-upload ul li {
  font-size: 80%;
}

.upload-btn {
  width: 100%;
  display: table;
  text-align: left;
  padding: 5px 35px;
  color: #fff !important;
}
.upload-btn i {
  margin-right: 10px;
}

.form-heading {
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #000;
}

.collapse-wrapper .collapseble-area {
  background-color: #eef7ff;
  border: 1px solid #dbeeff;
}
.collapse-wrapper .collapseble-area .collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}
.collapse-wrapper .collapseble-area .collapse-header h4 {
  margin-bottom: 0;
  font-size: 1.1rem;
}
.collapse-wrapper .collapseble-area .collapse-header i {
  transition: 0.2s;
  font-size: 1rem;
}
.collapse-wrapper .collapseble-area .collapse-header[aria-expanded=true] i {
  transform: rotate(45deg);
}
.collapse-wrapper .collapseble-area .collapse-body {
  border-top: 1px solid #dbeeff;
  padding: 15px;
  background-color: #f7fbff;
}

.cam-preview-wrapper {
  position: relative;
  display: table;
}
.cam-preview-wrapper .cam-capture-frame {
  position: absolute;
  top: 0;
  z-index: 1;
}
.cam-preview-wrapper .cam-capture-frame svg {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=registration.css.map */
