.queue-patient-filter {

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
      display: block;
      margin-bottom: 10px;
    }
  }
}

.teeth-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


  .teeth {
    background-image: url("../images/teeth-sprites.png");
    background-repeat: no-repeat;
    background-position: left top;
    border: 1px solid #F5F5F5;
    width: 50px;
    height: 60px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    background-color: #9e9e9e;
    margin: 5px;
    box-shadow: inset 0px 0px 6px #6c757d;

    &.teeth-premolar {
      background-position-x: -180px;
    }

    &.teeth-molar {
      background-position-x: -120px;
    }

    &.teeth-incisor {
      background-position-x: -60px;
    }

    &.teeth-canine {
      background-position-x: -0px;
    }

    span {
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      background: #6c757d;
      color: #fff;;
    }

    &.active-teeth {
      //background-color: #F84430;
    }

  }

  &.upper-group {
    .teeth {
      margin-top: 30px;
      border-radius: 0 0 10px 10px;
      span {
        top: -20px;
      }
    }
  }

  &.lowe-group {


    .teeth {
      margin-bottom: 30px;
      background-position-y: -60px;
      border-radius:  10px 10px 0 0;
      span {
        bottom: -20px;
      }
    }
  }

  //break {
  //  flex-basis: 100%;
  //  width: 0px;
  //  height: 0px;
  //  overflow: hidden;
  //}
}

.selected-teeth {
  & > div.selected-teeth-item {
    display: flex;
    align-items: center;
    margin-left: -5px;
    margin-right: -5px;
    //width: 100%;

    & > div {
      padding: 5px;

      .selected-teeth-number {
        display: block;
        background-color: #2D80C4;
        color: #ffffff;
        padding: 8px;
        border-radius: 4px;
        font-size: 16px;
        line-height: 22px;
        width: 100px;
      }

      button {
        //border-radius: 50%;
        font-size: 14px;
        line-height: 18px;
        padding: 10px;
      }
    }
  }
}

table.treatment-plan-table {
  td.date-column {
    max-width: 80px;
  }

  input[type="date"] {
    max-width: 120px;
  }
}
